/* Spaces */
    $base-space: 5px;

/* Base Color */
    // Primary Color 
    $primary-light-color: #1698DA;
    $primary-color: #0B87C6;
    // Warning
    $warning-lighter-color: #FFCCCC;
    $warning-light-color: #F37474;
    $warning-color: #DE5252;

/* Card */
    // Backgrounds 
    $background-card: #fff;
    // Border
    $border-card: #eee;

/* Form */
    // Backgrounds
    $background-input: #fff;
    $background-input-hover: #fafafa;
    $background-input-disabled: #fafafa;
    $background-input-error: rgba($warning-lighter-color, .125);
    $background-input-error-message: $warning-lighter-color;
    $background-addon: #f3f3f3;
    $background-addon-error: $warning-lighter-color;
    $background-button: #fff;
    $background-button-hover: #fafafa;
    $background-button-primary: $primary-color;
    $background-button-primary-hover: $primary-light-color;
    $background-button-warning: $warning-color;
    $background-button-warning-hover: $warning-light-color;
    // Border
    $border-input: #eee;
    $border-input-error: $warning-color;
    $border-label: $border-input;
    $border-addon: $border-input;
    $border-button: #ddd;
    $border-button-hover: #ccc;
    $border-button-primary: $primary-color;
    $border-button-primary-hover: $primary-light-color;
    $border-button-warning: $warning-color;
    $border-button-warning-hover: $warning-light-color;
    // Text Colors
    $color-label: #aaa;
    $color-input: #999;
    $color-input-disabled: #ccc;
    $color-input-error: $warning-color;
    $color-input-error-message: $warning-color;
    $color-input-placeholder: #ccc;
    $color-addon: $color-label;
    $color-addon-error: $warning-color;
    $color-button: $color-input;
    $color-button-primary: #fff;
    $color-button-warning: #fff;

/* Highlights */
    $general-highlight: rgba(255, 255, 255, .05);
    $sidebar-highlight: $general-highlight;

/* Fonts */
    $base-fs: 16px;
    $fs-10: 0.688em;
    $fs-12: 0.750em;
    $fs-14: 0.875em;
    $fs-16: 1em;
    $fs-18: 1.125em;
    $fs-20: 1.250em;
    $fs-24: 1.500em;
    $fs-28: 1.750em;
    $fs-32: 2em;
    $fs-36: 2.250em;