/* Spaces */
    $base-space: 5px;

/* Base Color */
    $base-color: #fff; // Extremely recommended to let this white
    $primary-color: #0B87C6;
    $info-color: #73B1DE;
    $success-color: #64A742;
    $warning-color: #FFD846;
    $danger-color: #DE5252;

/* Alerts */
    // Backgrounds
    $background-alert: $base-color;
    $background-alert-info: lighten($info-color, 25);
    $background-alert-success: lighten($success-color, 15);
    $background-alert-warning: lighten($warning-color, 20);
    $background-alert-danger: lighten($danger-color, 20);
    // Border
    $border-alert: darken($base-color, 10);
    $border-alert-info: $info-color;
    $border-alert-success: $success-color;
    $border-alert-warning: $warning-color;
    $border-alert-danger: $danger-color;
    // Color
    $color-alert: darken($base-color, 25);
    $color-alert-info: darken($info-color, 20);
    $color-alert-success: darken($success-color, 25);
    $color-alert-warning: darken($warning-color, 35);
    $color-alert-danger: darken($danger-color, 30);

/* Card */
    // Backgrounds
    $background-card: $base-color;
    // Border
    $border-card: darken($base-color, 10);
    // Colors
    $color-card-action: darken($base-color, 50);
    $color-card-action-hover: darken($base-color, 35);

/* Form */
    /* Background */
        // Input
        $background-input: $base-color;
        $background-input-hover: darken($background-input, 2);
        $background-input-disabled: $background-input-hover;
        $background-input-error: lighten($danger-color, 38);
        $background-input-error-message: $danger-color;
        // Checkbox
        $background-checkbox: $base-color;
        $background-checkbox-disabled: darken($background-checkbox, 5);
        // Addon
        $background-addon: darken($background-input, 5);
        $background-addon-error: $background-input-error;
        // Button
        $background-button: $base-color;
        $background-button-hover: darken($background-input, 5);
        // Button Primary
        $background-button-primary: $primary-color;
        $background-button-primary-hover: lighten($primary-color, 5);
        // Button Success
        $background-button-success: $success-color;
        $background-button-success-hover: lighten($success-color, 5);
        // Button Warning
        $background-button-warning: $warning-color;
        $background-button-warning-hover: lighten($warning-color, 5);
        // Button Danger
        $background-button-danger: $danger-color;
        $background-button-danger-hover: lighten($danger-color, 5);
    /* Border */
        // Input
        $border-input: darken($background-input, 10);
        $border-input-error: $danger-color;
        // Label
        $border-label: $border-input;
        // Addon
        $border-addon: $border-input;
        // Button
        $border-button: darken($background-button, 15);
        $border-button-hover: darken($background-button-hover, 15);
        // Button Primary
        $border-button-primary: darken($background-button-primary, 10);
        $border-button-primary-hover: darken($background-button-primary-hover, 15);
        // Button Success
        $border-button-success: darken($background-button-success, 10);
        $border-button-success-hover: darken($background-button-success-hover, 15);
        // Button Warning
        $border-button-warning: darken($background-button-warning, 10);
        $border-button-warning-hover: darken($background-button-warning-hover, 15);
        // Button Danger
        $border-button-danger: darken($background-button-danger, 10);
        $border-button-danger-hover: darken($background-button-danger-hover, 15);
    /* Color */
        // Input
        $color-input: darken($base-color, 50);
        $color-input-disabled: lighten($color-input, 25);
        $color-input-error: $danger-color;
        $color-input-error-message: $base-color;
        $color-input-placeholder: $color-input-disabled;
        // Checkbox & Radios
        $color-checkbox-checked: $primary-color;
        $color-checkbox-disabled: darken($base-color, 35);
        $color-radio-checked: $primary-color;
        $color-radio-disabled: darken($base-color, 35);
        // Label
        $color-label: darken($base-color, 35);
        // Addon
        $color-addon: $color-label;
        $color-addon-error: $danger-color;
        // Button
        $color-button: $color-input;
        $color-button-link-hover: $primary-color;
        $color-button-primary: $base-color;
        $color-button-success: $base-color;
        $color-button-warning: darken($base-color, 65);
        $color-button-danger: $base-color;

/* Highlights */
    $general-highlight: rgba(white, .05);
    $sidebar-highlight: $general-highlight;

/* Fonts */
    $base-fs: 16px;
    $fs-10: 0.688em;
    $fs-12: 0.750em;
    $fs-14: 0.875em;
    $fs-16: 1em;
    $fs-18: 1.125em;
    $fs-20: 1.250em;
    $fs-24: 1.500em;
    $fs-28: 1.750em;
    $fs-32: 2em;
    $fs-36: 2.250em;
