.a-alert {
	background: white;
	border: 1px solid $border-alert;
	color: $color-alert;
	padding: $base-space * 3;
	width: 100%;
}

.a-alert--info {
	@extend .a-alert;
	background: $background-alert-info;
	border-color: $border-alert-info;
	color: $color-alert-info;
}

.a-alert--success {
	@extend .a-alert;
	background: $background-alert-success;
	border-color: $border-alert-success;
	color: $color-alert-success;
}

.a-alert--warning {
	@extend .a-alert;
	background: $background-alert-warning;
	border-color: $border-alert-warning;
	color: $color-alert-warning;
}

.a-alert--danger {
	@extend .a-alert;
	background: $background-alert-danger;
	border-color: $border-alert-danger;
	color: $color-alert-danger;
}