
// Button
.a-button {
    background: $background-button;
    border: 1px solid $border-button;
    border-bottom-width: 2px;
    margin: 0;
    padding: 0;
    position: relative;
    transition: background .15s ease, border .15s ease;

    a {
        color: $color-button;
        display: block;
        padding: ($base-space * 2) ($base-space * 3);
        text-decoration: none;
    }

    & + .a-button {
        margin-left: ($base-space * 2);
    }

    b,
    .open .a-button,
    &:hover {
        background: $background-button-hover;
        border-color: $border-button-hover;

        &.a-button--flat {
            border-color: $background-button-hover;
        }

        a {
            color: $color-button;
        }
    }

    &.circle {
        a {
            padding: ($base-space * 2);
        }
    }

    &.a-button--flat {
        border-color: $background-button;
    }
}

.a-button--label {
    @extend .a-button;

    a {
        padding-left: ($base-space * 11);

        b {
            left: 0;
            padding: ($base-space * 2);
            position: absolute;
            top: 0;
        }
    }

    a.right {
        padding-left: ($base-space * 3);
        padding-right: ($base-space * 11);

        b {
            left: initial;
            right: 0;
            padding: ($base-space * 2);
            position: absolute;
            top: 0;
        }
    }
}

.a-button--link {
    @extend .a-button;
    background: transparent;
    border: none;

    .open .a-button--link,
    &:hover {
        background: transparent;

        a {
            color: $color-button-link-hover;
        }
    }
}

.a-button--primary {
    @extend .a-button;
    background: $background-button-primary;
    border-color: $border-button-primary;

    b,
    a {
        color: $color-button-primary;
    }

    b,
    .open .a-button--primary,
    &:hover {
        background: $background-button-primary-hover;
        border-color: $border-button-primary-hover;

        &.a-button--flat {
            border-color: $background-button-primary-hover;
        }

        a {
            color: $color-button-primary;
        }
    }

    &.a-button--flat {
        border-color: $background-button-primary;
    }
}

.a-button--success {
    @extend .a-button;
    background: $background-button-success;
    border-color: $border-button-success;

    b,
    a {
        color: $color-button-success;
    }

    b,
    .open .a-button--success,
    &:hover {
        background: $background-button-success-hover;
        border-color: $border-button-success-hover;

        &.a-button--flat {
            border-color: $background-button-success-hover;
        }

        a {
            color: $color-button-success;
        }
    }

    &.a-button--flat {
        border-color: $background-button-success;
    }
}

.a-button--danger {
    @extend .a-button;
    background: $background-button-danger;
    border-color: $border-button-danger;

    b,
    a {
        color: $color-button-danger;
    }

    b,
    .open .a-button--danger,
    &:hover {
        background: $background-button-danger-hover;
        border-color: $border-button-danger-hover;

        &.a-button--flat {
            border-color: $background-button-danger-hover;
        }

        a {
            color: $color-button-danger;
        }
    }

    &.a-button--flat {
        border-color: $background-button-danger;
    }
}

.a-button--warning {
    @extend .a-button;
    background: $background-button-warning;
    border-color: $border-button-warning;

    b,
    a {
        color: $color-button-warning;
    }

    b,
    .open .a-button--warning,
    &:hover {
        background: $background-button-warning-hover;
        border-color: $border-button-warning-hover;

        &.a-button--flat {
            border-color: $background-button-warning-hover;
        }

        a {
            color: $color-button-warning;
        }
    }

    &.a-button--flat {
        border-color: $background-button-warning;
    }
}
