// Input
::-webkit-input-placeholder {
    color: $color-input-placeholder;
}

.a-input {
    background: $background-input;
    border: 1px solid $border-input;
    border-bottom-width: 2px;
    position: relative;
    vertical-align: middle;
    transition: background .15s ease;
    width: 100%;

    & + & {
        margin-top: $base-space * 3;
    }

    label {
        border-bottom: 1px solid $border-label;
        color: $color-label;
        display: block;
        font-size: $fs-12;
        padding: $base-space ($base-space * 2);
    }

    input {
        background: transparent;
        border: none;
        box-shadow: none;
        color: $color-input;
        padding: ($base-space * 2);
        transition: background .25s ease;
        width: 100%;

        &:focus,
        &:hover {
            background: $background-input-hover;
        }

        &:disabled{
            background: $background-input-disabled;
            color: $color-input-disabled;
        }

        & + .a-addon {
            border-left: 1px solid $border-addon;
        }
    }

    .a-addon {
        display: table;
        width: 100%;

        i {
            background: $background-addon;
            color: $color-addon;
            cursor: default;
            display: table-cell;
            font-style: normal;
            padding: $base-space ($base-space * 2);
            text-align: center;
            user-select: none;
            vertical-align: middle;
            width: 12%;
        }

        & + input {
            border-left: 1px solid $border-addon;
        }
    }
}

.a-input--radio,
.a-input--checkbox {
    @extend .a-input;
    background: transparent;
    border: none;

    input[type=radio],
    input[type=checkbox] {
        display: none;

        & + label {
            border: none;
            color: $color-input;
            cursor: pointer;
            display: initial;
            font-size: $fs-14;
            margin-left: 20px;
            user-select: none;
            vertical-align: middle;

            &:before {
                border-radius: 3px;
                border: 1px solid $border-input;
                border-bottom-width: 2px;
                content: "";
                left: 0;
                position: absolute;
                height: 18px;
                width: 18px;
            }

            &:after {
                transition: all .25s;
                content: "\0020";
                position: absolute;
                left: 2px;
                top: 2px;
                transform: scale(0);
            }

            &:hover:before {
                background: $background-input-hover;
            }
        }
        &:checked+label {
            &:after {
                content: "\f00c";
                color: $color-checkbox-checked;
                font-family: FontAwesome;
                font-weight: bold;
                left: 0;
                padding: 3px;
                position: absolute;
                top: 0;
                transform: scale(1);
            }
        }
        &:disabled+label {
            color: $color-checkbox-disabled;

            &:before {
                background: $background-checkbox-disabled;
            }

            &:after {
                color: $color-checkbox-disabled;
            }
        }
    }

    input[type=radio] {
        & + label {
            &:before {
                border-radius: 100%;
            }

            &:after {
                content: "\0020";
                position: absolute;
                left: 8px;
                top: 10px;
                transform: scale(0);
            }
        }

        &:checked+label {
            &:after {
                background: $color-radio-checked;
                border-radius: 100%;
                content: "";
                padding: 5px;
                position: absolute;
                left: 5px;
                top: 5px;
                transform: scale(1);
            }
        }

        &:disabled+label {
            &:after {
                background: $color-radio-disabled;
            }
        }
    }
}

.a-input--error {
    @extend .a-input;
    border-color: $border-input-error;

    input {
        color: $color-input-error;

        &:focus,
        &:hover {
            background: $background-input-error;
        }
    }

    .a-addon {
        i {
            background: $background-addon-error;
            color: $color-addon-error;
        }
    }

    .a-error {
        background: $background-input-error-message;
        color: $color-input-error-message;
        display: block;
        font-size: $fs-12;
        padding: $base-space ($base-space * 2);
        text-transform: uppercase;
    }
}

// Button
.a-button {
    background: $background-button;
    border: 1px solid $border-button;
    border-bottom-width: 2px;
    margin: 0;
    padding: 0;
    position: relative;
    transition: background .15s ease, border .15s ease;

    a {
        color: $color-button;
        display: block;
        padding: ($base-space * 2) ($base-space * 3);
        text-decoration: none;
    }

    & + .a-button {
        margin-left: ($base-space * 2);
    }

    b,
    &:hover {
        background: $background-button-hover;
        border-color: $border-button-hover;

        &.a-button--flat {
            border-color: $background-button-hover;
        }
    }

    &.circle {
        a {
            padding: ($base-space * 2);
        }
    }

    &.a-button--flat {
        border-color: $background-button;
    }
}

.a-button--label {
    @extend .a-button;

    a {
        padding-left: ($base-space * 11);
    }

    b {
        left: 0;
        padding: ($base-space * 2);
        position: absolute;
        top: 0;
    }
}

.a-button--link {
    @extend .a-button;
    background: transparent;
    border: none;

    &:hover {
        background: transparent;

        a {
            color: $color-button-link-hover;
        }
    }
}

.a-button--primary {
    @extend .a-button;
    background: $background-button-primary;
    border-color: $border-button-primary;

    b,
    a {
        color: $color-button-primary;
    }

    b,
    &:hover {
        background: $background-button-primary-hover;
        border-color: $border-button-primary-hover;

        &.a-button--flat {
            border-color: $background-button-primary-hover;
        }
    }

    &.a-button--flat {
        border-color: $background-button-primary;
    }
}

.a-button--success {
    @extend .a-button;
    background: $background-button-success;
    border-color: $border-button-success;

    b,
    a {
        color: $color-button-success;
    }

    b,
    &:hover {
        background: $background-button-success-hover;
        border-color: $border-button-success-hover;

        &.a-button--flat {
            border-color: $background-button-success-hover;
        }
    }

    &.a-button--flat {
        border-color: $background-button-success;
    }
}

.a-button--danger {
    @extend .a-button;
    background: $background-button-danger;
    border-color: $border-button-danger;

    b,
    a {
        color: $color-button-danger;
    }

    b,
    &:hover {
        background: $background-button-danger-hover;
        border-color: $border-button-danger-hover;

        &.a-button--flat {
            border-color: $background-button-danger-hover;
        }
    }

    &.a-button--flat {
        border-color: $background-button-danger;
    }
}

.a-button--warning {
    @extend .a-button;
    background: $background-button-warning;
    border-color: $border-button-warning;

    b,
    a {
        color: $color-button-warning;
    }

    b,
    &:hover {
        background: $background-button-warning-hover;
        border-color: $border-button-warning-hover;

        &.a-button--flat {
            border-color: $background-button-warning-hover;
        }
    }

    &.a-button--flat {
        border-color: $background-button-warning;
    }
}
