// Set base font-size
html {
    font-size: $base-fs;
}

// Set border-box
* {
	box-sizing: border-box;
}

// Removes focus outline
*:focus {
    outline: 0;
}

/* General classes */
// Space
.space--up {
	margin-top: $base-space * 4;
}

.space--down {
	margin-bottom: $base-space * 4;
}

.space--left {
	margin-left: $base-space * 4;
}

.space-right {
	margin-right: $base-space * 4;
}

// Width Control
.quarter {
	width: 25%;
}

.half {
	width: 50%;
}

.full {
	width: 100%;
}

// Roundness
.rounded {
    border-radius: ($base-space * 2);
}

.circle {
	border-radius: 100%;
}

// Text Align
.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

// Badges
.badge {
	background: $background-badge;
	border-radius: 5px;
	color: $color-badge;
	font-size: $fs-12;
	padding: ($base-space) ($base-space * 2);
	text-align: center;
	text-transform: uppercase;
}

.badge--primary {
	@extend .badge;
	background: $background-badge-primary;
	color: $color-badge-primary;
}

.badge--success {
	@extend .badge;
	background: $background-badge-success;
	color: $color-badge-success;
}

.badge--info {
	@extend .badge;
	background: $background-badge-info;
	color: $color-badge-info;
}

.badge--warning {
	@extend .badge;
	background: $background-badge-warning;
	color: $color-badge-warning;
}

.badge--danger {
	@extend .badge;
	background: $background-badge-danger;
	color: $color-badge-danger;
}

// Paginate
.pagination {
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		list-style: none;

		span,
		a {
			background: $background-pagination;
			border: 1px solid $border-pagination;
			border-bottom-width: 2px;
			color: $color-pagination;
			padding: ($base-space) ($base-space * 2);
			text-align: center;
			text-decoration: none;

			&:hover {
				background: $background-pagination-hovered;
			}
		}

		&.active {
			span, 
			a{
				background: $background-pagination-active;
				border-color: $border-pagination-active;
				color: $color-pagination-active;				
			}
		}

		&.disabled {
			span, 
			a{
				background: $background-pagination-disabled;
				color: $color-pagination-disabled;
				cursor: default;
			}
		}
	}
}
// Scrollbar
::-webkit-scrollbar {
	background: rgba(255,255,255,.05);
	position: fixed;
	right: 0;
	width: 5px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background: rgba(255,255,255,.05);
}

::-webkit-scrollbar-thumb {
	background: #666;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}
