// Set base font-size 
html {
    font-size: $base-fs;
}

// Set border-box
* {
	box-sizing: border-box;
}

// Removes focus outline
*:focus {
    outline: 0;
}

/* General classes */
// Space
.space--up {
	margin-top: $base-space * 2;
}

.space--down {
	margin-bottom: $base-space * 2;
}

.space--left {
	margin-left: $base-space * 2;
}

.space-right {
	margin-right: $base-space * 2;
}
// Width
.half {
	width: 50%;
}

.full {
	width: 100%;
}

// Roundness
.rounded {
    border-radius: ($base-space * 2);
}

.circle {
	border-radius: 100%;
}

// Text Align
.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

// Scrollbar
::-webkit-scrollbar {
	background: rgba(255,255,255,.05);
	position: fixed;
	right: 0;
	width: 5px;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-track {
	background: rgba(255,255,255,.05);
}

::-webkit-scrollbar-thumb {
	background: #666;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}
