// Fixed
.fixed {
    position: fixed;
}

.fixed--top {
    @extend .fixed;
    top: 0;
}

.fixed--bottom {
    @extend .fixed;
    bottom: 0;
}

.fixed--left {
    @extend .fixed;
    left: 0;
}

.fixed--right {
    @extend .fixed;
    right: 0;
}

/* Floats */

.pull--left {
	float: left;
}

.pull--right {
	float: right;
}