.a-progress {
	display: flex;
	margin: 0;
	line-height: 5px;
	padding: 0;
	position: relative;
	text-align: center;
	width: 100%;

	li {
		background: #fff;
		border: 2px solid #ccc;
		border-left: none;
		border-right: none;
		list-style: none;
		flex-grow: 1;
		position: relative;

		&:first-child {
			border-radius: 5px 0 0 5px;
			border-left: 2px solid #ccc;
		}

		&:last-child {
			border-radius: 0 5px 5px 0;
			border-right: 2px solid #ccc;
		}

		a {
			background: #fff;
			border: 2px solid #ccc;
			border-radius: 100%;
			color: #666;
			font-weight: bold;
			font-size: 12px;
			padding: 4px 8px;
			text-decoration: none;
			vertical-align: middle;
		}
	}
}