.a-steps--blocks {
	margin: 0;
	padding: 0;

	li {
		background: $background-step;
		box-shadow: inset 0px 1px 0 $border-step,
					inset 0px -1px 0 $border-step;
		color: $color-step;
		display: inline-block;
		font-weight: bold;
		list-style: none;
		margin-left: -4px;
		padding: ($base-space * 3) 0;
		padding-left: $base-space * 4;
		position: relative;
		text-align: center;
		width: 125px;

		&:first-child {
			box-shadow: inset 1px 1px 0 $border-step,
						inset 1px -1px 0 $border-step;
			padding-left: 0;
		}

		&:last-child {
			box-shadow: inset -1px 1px 0 $border-step,
						inset -1px -1px 0 $border-step;
	
			&:before,
			&:after {
				content: initial;
			}
		}

		&:before,
		&:after {
			content: "";
			display: block;
			height: 0;
			position: absolute;
			width: 0;
		}

		&:before {
			border-left: 19px solid $background-step;
			border-bottom: 23px solid transparent;
			border-top: 23px solid transparent;
			right: -19px;
			top: 1px;
			z-index: 9;
		}

		&:after {
			border-left: 20px solid $border-step;
			border-bottom: 24px solid transparent;
			border-top: 24px solid transparent;
			right: -20px;
			top: 0;
			z-index: 8;
		}

		&.completed {
			color: $color-step-completed;
			font-weight: normal;
		}

		&.active {
			background: $primary-color;
			box-shadow: inset 1px 1px 0 $border-step-active,
						inset 1px -1px 0 $border-step-active;
			color: $color-step-active;
			font-weight: bold;
			
			&:before {
				border-left-color: $primary-color;
			}
		}
	}
}