.a-table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: $fs-14;
	max-width: 100%;
	position: relative;
	width: 100%;

	thead {
		tr {
			background: $background-table;
			border-bottom: 2px solid $border-table-header;

			th {
				padding: ($base-space * 3) ($base-space * 4);
				text-align: left;
				vertical-align: middle;
			}
		}
	}

	tbody {
		tr {
			background: $background-table;
			border-top: 1px solid $border-table;

			td {
				padding: ($base-space * 3) ($base-space * 4);
				vertical-align: middle;

				.badge {
					display: inline-block;
				}
			}
		}
	}
}

.a-table--striped {
	@extend .a-table;

	tbody {
		tr:nth-child(even) {
			background: $background-table-striped;
		}
	}
}

.a-table--bordered {
	@extend .a-table;

	thead {
		tr {
			th {
				border: 1px solid $border-table;
			}
		}
	}

	tbody {
		tr {
			td {
				border: 1px solid $border-table;
			}
		}
	}
}

.a-table--hovered {
	@extend .a-table;

	tbody {
		tr:hover {
			background: $background-table-hover;
		}
	}
}

.a-table--framed {
	@extend .a-table;
	border: 1px solid $border-table;
}