.a-toast {
	background: #323232;
	border-radius: 2px;
	color: #fff;
	left: 0;
	font-size: $fs-14;
	height: 48px;
	margin: 0 auto;
	min-width: 288px;
	max-width: 568px;
	position: fixed;
	padding: 16px 24px;
	right: 0;
	z-index: 99;
}

.a-toast--bottom {
	@extend .a-toast;
	
	bottom: -48px;
}

.a-toast--top {
	@extend .a-toast;

	top: -48px;
}