@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.clear {
    clear: both;
}

.topbar {
    background: #fafafa;
    height: 80px;
    width: 100%;
    z-index: 9;
}

.topbar .title {
    background: #56504B;
    display: flex;
    float: left;
    height: 80px;
    max-height: 100%;
    width: 20%;
}

.topbar .title h1 {
    color: #fff;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;
    margin: 20px;
    text-transform: uppercase;
}

.topbar .search{
    float: left;
    max-height: 80px;
    padding: 18px;
    width:  30%;
}

nav {
    background: #312C27;
    bottom: 0;
    overflow-y: auto;
    top: 80px;
    width: 20%;
}

nav a {
    color: #847A6F;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    clear: both;
    margin-left: 20%;
    margin-top: 80px;
    padding: 20px;
    position: relative;
}

.container h2{
    margin-top: 0;
}

.part{
    float: left;
    margin-right: 30px;
    width: 380px;
    height: 400px;
}
